html, body {
    align-content: center;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    height: 1920px;
}

.upperside {
    display: flex;
    width: 100%;
    min-height: fit-content;
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    justify-content: space-between;
}

header {
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
}

.wrapper {
    width: 580px;
    margin-left: 96px;
    display: flex;
    flex-direction: column;
}

.greetings {
    height: 480px;
    background: white;
    display: flex;
    flex-direction: column;
}

.subheader {
    height: 24px;
    margin-top: 48px;
    margin-left: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.header {
    height: 24px;
    margin-top: 16px;
    margin-left: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FF6B0A;
}

.accent {
    height: 72px;
    margin-top: 48px;
    margin-left: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #1B1D1F;
}

.logo {
    width: 100px;
    height: 30px;
    margin-left: 16px;
    top: 33.1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #010101;
}

.main-body {
    height: 96px;
    margin-top: 24px;
    margin-left: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 5px;
    width: 180px;
    height: 36px;
    margin-top: 24px;
    margin-left: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FF6B0A;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.banderogus {
    align-self: flex-end;
}

.middleside {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    height: 960px;
    background: white;
}

.gerb {
    display: flex;
    align-self: center;
    margin-top: 40px;
    width: 32px;
    height: 52px;
}

.head {
    margin-top: 20px;
    display: flex;
    align-self: center;
    height: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120px;
    color: #1B1D1F;
}

.text {
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    align-self: center;
    text-align: center;
    width: 875px;
    height: 72px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.facts-all {
    display: flex;
    flex-direction: raw;
    width: 1170px;
    height: 500px;
    justify-content: space-around;
    align-self: center;
}

.fact {
    display: flex;
    flex-direction: column;
    width: 374px;
}

.fact-logo {
    width: 374px;
    height: 374px;
}

.fact-name {
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    align-self: center;
    color: #1B1D1F;
}

.fact-description {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 20px;
    width: 372px;
    height: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    background: white;
}

.ending {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 376px;
    align-items: center;
    align-self: center;
    background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
}

.modal-window {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(27, 29, 31, 0.7);
    opacity: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-container {
    position: relative;
    width: 632px;
    height: 524px;
    background: #FFFFFF;
}

.modal-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 5px;
    width: 180px;
    height: 36px;
    margin-top: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FF6B0A;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.form-header {
    width: 460px;
    height: 24px;
    margin-top: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.other-text {
    height: 24px;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.name-form {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.text-form {
    box-sizing: border-box;
    margin-top: 8px;
    width: 360px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
    font-weight: 400;
    font-size: 24px;
    padding: 4px 8px;
    text-transform: uppercase;
}

.close {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 14px;
    color: #1b1d1f;
}

.trademark {
    width: 100%;
    display: flex;
    flex-direction: raw;
    justify-content: center;
    color: black;
    font-family: 'Montserrat';
}

.ua-icon {
    width: 16px;
    height: 12px;
    align-self: center;
    padding-left: 4px;
}

.modal-form-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 632px;
    height: 524px;
    background: linear-gradient(180deg, blue 0%, yellow 100%);
    align-items: center;
}

.modal-gus {
    width: 200px;
    height: 200px;
    transform: rotate(340deg);
}

.slava {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Montserrat';
    font-size: 24px;
    margin-top: 24px;
}

.heroyam-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 5px;
    width: 180px;
    height: 36px;
    margin-top: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FF6B0A;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}